body {
    background-color: rgb(100, 100, 100);
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    color: white;
}

header{
    float: left;
    margin-left:  5%;
    margin-right: 5%;
    width: 100%;
    padding-top: 1%;
}

.headerLogo{
    float: left;
    width: 30%;
    font-size: 14px;
    margin-top: 1%;
    color: rgb(229, 9, 20);
}

.headerOptions{
    float: left;
    width: 70%
}

.headerOptions ul {
    width: 100%
}

.headerOptions ul li{
    width: 17%;
    float: right;
    margin-right: 7%;
    list-style: none;
}

#container {
    float: left;
    width: 94%;
    margin-left: 4%;
    margin-right: 4%;
}

.highlightContainer {
    font-size: 51px;

}

.optionBottons {
    font-weight: bold;
    background-color: #db0000;
    color: white;
    height: 34px;
    width: 60px;
    text-transform: uppercase;
    font-size: 
}